@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

html,
body {
  height: 545px;
  width: 348px;
  margin: 0;
  position: relative;
  scroll-behavior: smooth;
}

.contain {
  color: white;
  width: 100%;
  height: 100%;
  background-color: rgb(44, 44, 44);
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 10% 10% 75% 5%;
}


.contain .logo {
  opacity: 0.7;
  width: 55%;
  justify-self: center;
  align-self: center;
}
button:active,
button:focus,
input:active,
input:focus {
  outline: none;
}
.contain .add {
  display: flex;
  padding: 3px;
}
.contain .add button {
  font-size: 17.6px;
  width: 15%;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.473);
  transition: color 0.3s ease-out;
}
.contain .add button:hover {
  text-shadow: 0px 6px 13px #000000, 5px 5px 15px rgba(0, 0, 0, 0);
  color: rgb(255, 255, 255);
  transition: all 0.3s ease-out;
}
.contain .add input {
  font-family: 'Comfortaa', cursive;
  -webkit-box-shadow: inset 0 0 10px #00000031;
  box-shadow: inset 0 0 10px #00000031;
  border-radius: 7px;
  color: rgba(255, 255, 255, 0.678);
  width: 85%;
  background-color: rgba(121, 115, 115, 0);
  border: none;
  padding: 0 15px;
  margin: 5px;
}

.contain .items  {
  padding: 2px;
  overflow: hidden;
  overflow-y: auto;
  
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 52px;
}
/* scrollbar */
/* width */
.contain .items::-webkit-scrollbar {
  width: 5px;
  padding: 5px;
}
/* Track */
.contain .items::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
.contain .items::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.37);
}
/* Handle on hover */
.contain .items::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.747);
}
.contain .items .item {
  color: rgba(255, 255, 255, 0.685);
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-out;
}
.contain .items .item:hover {
  box-sizing: border-box;
  padding: 5px 10px;
  border-radius: 7px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 10px #00000030;
  box-shadow: inset 0 0 10px #00000030;
  transition: all 0.2s ease-out;
}
.contain .items .item img{
  margin: 5px;
  justify-self: start;
  width: 30px;
  height: 30px;
}
.contain .items .item .info{
  padding: 5px;
  justify-self: center;
  width: 80%;
  display: flex;
  flex-direction: column;
}
.contain .items .item .info p {
  font-family: 'Comfortaa', cursive;
  margin: 0;
}
.contain .items .item .info p:nth-child(1) {
  font-size: 16px;
}
.contain .items .item .info p:nth-child(2) {
  font-size: 11.2px;
}
.contain .items .item button{
  font-size: 16px;
  opacity: 0;
  color: rgba(255, 73, 73, 0.568);
  background-color: rgba(121, 115, 115, 0);
  border: none;
  margin: 5px;
  justify-self: end;
  border: none;
  width: 20%;
}
.contain .items .item button:hover {
  color: rgb(255, 73, 73);
}
.contain .items .item:hover button {
  opacity: 1;
}

.contain .contact-info {
  color: rgba(255, 255, 255, 0.801);
  display: flex;
  align-items: center;
}
.contain .contact-info .name{
  font-size: 11.2px;
  margin: 0 10px;
  margin-left: auto;
}
.contain .contact-info .social{
  justify-self: start;
  margin: 0 10px;
}
.contain .contact-info .social i{
  margin: 0 5px;
}

















.hidden {
  display: none !important;
}
