html,
body {
  height: 600px;
  width: 400px;
  margin: 0;
  position: relative;
  overflow: hidden;
}

/* Container Styles */
.container {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: #171717c0;
  overflow-y: auto;
}

/* Search bar and Add Button Container */
.container .content {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  height: fit-content;
  width: 100%;
  padding: 20px 10px 10px;
  box-sizing: border-box;
  background-color: #fcfcfc;
  z-index: 100;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Search Bar Component */
.search-comp {
  display: flex;
  align-items: center;
  background-color: white;
  height: 40px;
  border-radius: 7px;
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.search-comp #input {
  background-color: transparent;
  color: #171717;
  font-size: 14px;
  height: 100%;
  width: 100%;
  border: none;
  padding: 0 20px;
  font-family: "Montserrat", sans-serif;
}
.search-comp #input:focus {
  outline: none;
  background-color: transparent;
}

/* Icon */
.icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50px;
}
.icon:hover {
  background-color: #fff212;
}
/* Search button Icon component */
#search-icon.icon svg {
  height: 35px;
  width: 35px;
}
#search-icon.icon svg * {
  stroke: #00afef;
}

/* Add button component */
#add-icon.icon {
  border-radius: 7px;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#add-icon.icon:hover {
  background-color: #fff212;
}
#add-icon.icon svg * {
  stroke: #00afef;
}

/* Tab list Container */
#tab-container {
  height: 100%;
  padding: 10px 10px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Tab list Item */
#tab-container .tab {
  animation: fadein 0.5s ease-out;
  width: 100%;
  height: fit-content;
  padding: 10px 7px;
  box-sizing: border-box;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #171717c0;
}
#tab-container .tab:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#tab-container .tab img.logo {
  height: 25px;
  width: 25px;
  margin: 0 15px 0 0;
}

/* Tab body Component */
#tab-container .tab .body {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#tab-container .tab .body .title {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin: 0;
  letter-spacing: -0.7px;
}
#tab-container .tab .body .url {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 9px;
  text-decoration: none;
  color: #171717c0;
  font-weight: 600;
  color: #00afef;
}
.break {
  height: 1px;
  width: 90%;
  background-color: #fff212;
  opacity: 0.5;
  margin: 1px auto;
}

/* Delete button Component */
.icon.delete {
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 7px;
  opacity: 0;
  background-color: transparent;
  overflow: hidden;
}
#tab-container .tab .icon.delete:hover {
  background-color: #fff212;
}
#tab-container .tab:hover .icon.delete {
  opacity: 1;
}
/* scrollbar */
/* width */
.container::-webkit-scrollbar {
  width: 5px;
  padding: 5px;
}
/* Track */
.container::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
.container .items::-webkit-scrollbar-thumb {
  background: #00afefc0;
}
/* Handle on hover */
.container::-webkit-scrollbar-thumb {
  background: #00afefc0;
}
/* Handle on hover */
.container::-webkit-scrollbar-thumb:hover {
  background: #00afef;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
